{{assign suit: category.suit for category in site.data.categories where category.name == pattern.category | first}}
{% assign category = site.data.categories | where: "name", pattern.category | first %}
<div class="card {{ pattern.category | slugify }}" style="background-color:#{{category.background}};">
    <div class="top-left">{{ pattern.category }} {{ category.suit }}</div>
    <div class="suit">{{ category.suit }}</div>
    <div class="pattern-name">{{ pattern.name }}</div>
    <div class="pattern-desc"><!--{{ pattern.description }}--></div>
    <div class="qr-code">
      {% assign qr_slug = pattern.path | split: '/' | last | remove: '.md' %}
      <img src="{{ '/assets/qr/' | append: qr_slug | append: '.svg' | relative_url }}"
           alt="QR Code" class="qr">
    </div>
    <div class="bottom-right">{{ pattern.category }} {{ category.suit }}</div>
</div>

