        @page {
            size: A4 portrait;
            margin: 10mm;
        }

        body {
            display: flex;
            padding: 20px;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            /*background-color: lightgreen;*/
        }

        .deck {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(63.5mm, 1fr));
            gap: 8mm;
            justify-content: center;
        }


        /* PRINT STYLING */
        @media print {
            body { background-color: white; padding: 0; }
            .deck { gap: 2mm; }
        }
