---
layout: page
---
<link rel="stylesheet" href="{{ '/assets/css/card.css' | relative_url }}">

<div class="overlay" id="overlay"></div>

<div id="card-container">
  {% assign pattern = page %}
  {% include pattern_card.html %}
  <button id="toggleView">Show/Hide Details</button>
  <a href={{"/shuffle" | relative_url}}> 🔀 Shuffle!</a>
  <a href={{"/the-patterns" | relative_url}}> 🗂️ See all patterns!</a>
</div>


    <!-- <h1>{{ page.name }}</h1></div> -->
    <p><strong>Category:</strong> {{ page.category }}</p>
    <p><strong>Suit:</strong> {{ page.suit }}</p>
    <p>{{ page.description }}</p>



<script>
    // Function to get URL parameters
    function getUrlParameter(name) {
      const urlParams = new URLSearchParams(window.location.search);
      return urlParams.get(name);
    }

    // Function to update the URL without refreshing the page
    function updateUrlParameter(param, value) {
      const urlParams = new URLSearchParams(window.location.search);
      urlParams.set(param, value);  // Set the parameter to the value
      window.history.replaceState({}, '', `${window.location.pathname}?${urlParams}`);
    }

    // Check if the 'view' parameter is 'card' on page load
    if (getUrlParameter('view') === 'card') {
      document.getElementById('overlay').classList.add('active');
    }

    // Toggle the view on button click and update URL
    document.getElementById('toggleView').addEventListener('click', function() {
      const extraContent = document.getElementById('overlay');
      extraContent.classList.toggle('active');

      // Update the URL parameter accordingly
      const isHidden = extraContent.classList.contains('active');
      if (isHidden) {
        updateUrlParameter('view', 'card');
      } else {
        updateUrlParameter('view', 'full');
      }
    });
</script>

